:root {
  --primery-text-colour: #434455;
  --title-text-colour: #2e2f42;
  --accent-color: #4d5ae5;
  --primery-white-color: #ffffff;
}

.list {
  list-style-type: none;
}
body {
  background: #e5e5e5;
  color: var(--primery-text-colour);
}
.logo {
  color: var(--title-text-colour);
}

.logo:hover {
  color: var(--accent-color);
}
/* Site nav */

.site-nav .link {
  color: var(--title-text-colour);
}

.site-nav .link:hover .site-nave .linnk:focus {
  color: var(--title-text-colour);
}
.site-nav .link.current {
  color: var(--accent-color);
}
