/* колір основного тексту #434455 */

/* другорядній колір #2E2F42*/

/* білий #FFFFFF */

/* акцент #4D5AE5 */
/* допоміжний колір #8E8F99 */

/* фон section 4 та тексту в футері #F4F4FD */
/* background  #E5E5E5 */

:root {
  --primery-text-colour: #434455;
  --title-text-colour: #2e2f42;
  --accent-color: #4d5ae5;
  --primery-white-color: #ffffff;
  --background-color: #e5e5e5;
}

body {
  background: var(--background-color);
  color: var(--primery-text-colour);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.list {
  list-style-type: none;
}

.logo {
  color: var(--title-text-colour);
  font-family: Raleway, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}
/* Site nav */

.site-nav .link {
  color: var(--title-text-colour);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.site-nav .link:hover .site-nav .linnk:focus {
  color: var(--title-text-colour);
}
.site-nav .link-current {
  color: var(--accent-color);
  text-decoration: none;
}

.auth-nav-list {
  text-decoration: none;
}

/* Hero */

.hero-title {
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

/* Section */

.section-title {
  color: var(--title-text-colour);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* Studio */

.section-list .title,
.section-team .title {
  color: var(--title-text-colour);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Examples */

.work-list .title {
  color: var(--title-text-colour);
}
/* Button */

.button {
  color: var(--title-text-colour);
  background-color: var(--primery-white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.button.primery {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: #f4f4fd;
}

.section-team {
  background-color: #f4f4fd;
}
